@font-face {
    font-family: 'Aglet Sans';
    src: url('AgletSans-Bold.woff2') format('woff2'),
        url('AgletSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

