
body {
    background-color: #965BDD;
}
.Aglet{font-family: 'Aglet Sans';}
.Aglet-bold{font-family: 'Aglet-bold';}
.Aglet-extra{font-family: 'Aglet-Extra';}
.Aglet-italic-bold {font-family: 'Aglet-italic-bold';}